<div class="col-lg-12">
  {{ content.field_part_2_title.0|raw }}
</div>
<div class="col-lg-12">
  <div class="info-box">
    <img class="div-img" src="{{ content.	field_part_2_image.0|render|trim|striptags }}" style="background-image:url(img/info-box-bg.png)" alt="">
    {{ content.field_part_2_content.0|raw }}
  </div>
</div>
