<section class="intro-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 m-auto sec-title text-center">
				<h2>{{ content.field_title.0 }}</h2>
				<h4>{{ content.field_subtitle.0 }}</h4>
				{{ content.field_desc.0 }}
			</div>
		</div>
	</div>
</section>