
<section class="cmn-banner">
	<img class="div-img" src="https://php.spinxweb.net/kkg/app/themes/kkg/assets/images/0.gif" style="background-image:url(https://cdn.spinxweb.net/kkg/uploads/2019/10/att-detail-banner.png" alt="">	
	<div class="container">
		<div class="banner-content">
			<h1>{{ content.field_title_a.0 }}</h1>
			<h3>{{ content.field_subtitle_a.0 }}</h3>	
		</div>
	</div>
</section>